* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    color: #2c3e50;
    background-color: #f4f4f4;
    font-size: 18px;
    margin: 0 auto!important;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    max-width:none;
}

.body-prevent-class {
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
}

a,a:active{
    color: #0366d6;
    text-decoration: none;
}


div, ul, li {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none outside none;
}

/*-----------------------------*/
#home_body{
    margin:0 auto;
    position: relative;
    display:block;
    overflow: hidden;
}

#blog_list{
    background: white;
    padding: 80px 0 ;
    min-height: 100vh;;;
}

#blog_list .content{
    display: none;
}

.item_li{
    width: 450px;
    height: 256px;
    display: block;
    position: relative;
    margin: -40px auto;
    border-radius: 20px;
}

.item_li .item_bg{
    position: relative;
    /*height: 100%;*/
    width: 100%;
}

.item_li .item_body{
    width: 100%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    padding: 23px 0 68px;
    min-height: 256px;
    border: 1px solid #cacaca;
    background-color: white;
}

.item_li .item_bg_fixed{
    position: fixed;
    left: 0;
    top:0;
    width:100%;
    height: 100%;
    z-index: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.btn_close{
    display: none;
}

.item_li .item_bg_fixed .btn_close{
    display: block;
}

.item_li .item_hiding .btn_close{
    display: none;
}



.item_li .item_body .blocks{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.item_li .item_body .blocks div{
    width: 0;
    height: 0;
    border: 0px transparent solid;
    position: absolute;
}
.item_li .item_body .blocks .bt{
}
.item_li .item_body .blocks .br{

}
.item_li .item_body .blocks .bb{

}
.item_li .item_body .blocks .bl{

}

.item_dark{
    color: white;
}

.item_light{
    color: black;
}

.btn_loadmore{
    display: block;
    margin-top: 80px;
    width: 100%;
    text-align: center;
}
/*------------------------------------*/
.item_amex .icon{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;;
    margin-left: -50px;
    margin-top: -50px;
    border-radius: 15px;
}
.item_amex .name{
    display: block;
    text-align: left;
    font-size: 15pt;
    width: 100%;
    top: -20px;
    font-weight: 600;
    padding: 10px 20px;
}
.item_bg_fixed .name,.item_detail .name{
    text-align: center;
}
.item_hiding .name{
    text-align: left;
}
.item_amex .time{
    position: absolute;
    right: 20px;
    top: 193px;
    font-size: 10pt;
}
.item_bg_fixed .time,.item_detail .time{
    bottom: 43px;
    top: auto;
}
.item_amex .description{
    position: relative;
    font-size: 12pt;
    padding: 0 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.item_amex .description p{
    margin: 9px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.item_amex .content{
    position: relative;
    font-size: 12pt;
    padding: 0 40px;
    text-indent: 24px;
}
.item_amex .content img{
    max-width: 95%;
}
.item_amex .btn_close{
    position: absolute;
    right: 0;
    top: 0;
    width: 51px;
    text-align: center;
    line-height: 51px;
    border-radius: 13px;
    cursor: pointer;
    font-size: 19px;
    overflow: hidden;
}

.item_amex .btn_home{
    position: absolute;
    left: 7px;
    top: 6px;
    background: white;
    width: 65px;
    text-align: center;
    line-height: 31px;
    border-radius: 13px;
    cursor: pointer;
    font-size: 19px;
}

/*--------------------------*/


#blog_detail{
    min-height: 100vh;
}


#blog_detail .item_li{
    width: 100%;
    height: auto;
    margin:0 auto;
}

#blog_detail .item_li .item_body{
    min-height: 100vh;
}

.item_bg_fixed .item_body{
    min-height: 100vh;
}

.item_li .item_hiding .item_body{
    min-height: auto;
}


/*----------------------------------*/
#side_list{
    position: absolute;
    left: 480px;
    top: 0px;
}

#user_info{
    padding: 30px;
    background: white;
}
/*----------------------------------*/
#top_bg{
    width: 100%;
    height: 80px;
    background: white;
    line-height: 80px;
    margin-bottom: 30px;
}

#top_nav{
    margin:0 auto;
    position: relative;
}
#top_nav #icon_home{
    padding: 0 30px;
}
#top_nav #btn_sideshow{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 30px;
    cursor: pointer;
}

#footer_body{
    text-align: center;
    color: rgb(169, 169, 169);
    text-decoration: none;
    font-size: small;
    padding: 20px 30px 10px;
}
/*----------------------------------*/


@media (max-width: 800px) {
    body{
        width: 480px;
    }
    #top_nav{
        width: 480px;
    }
    #top_nav #btn_sideshow{
        display: block;
    }
    #home_body{
        width: 480px;
    }
    #blog_list,#blog_detail{
        width: 480px;
    }
    .item_li{
        width: 450px;
    }
    #side_list{
        left: 500px;
        width: 480px;
        padding: 30px;
        background-color: #f4f4f4;
        min-height: 100vh;
    }
    #side_list.side_show{
        left: 0;
    }
    .item_amex .content{
        padding: 0 20px;
    }
}


@media only screen and (min-width: 800px) {

    body{
        width: 100%;
    }
    #top_nav{
        width: 800px;
    }
    #home_body{
        width: 800px;
    }
    #blog_list,#blog_detail{
        width: 480px;
    }
    .item_li{
        width: 450px;
    }
    #side_list{
        left: 500px;
        width: 300px;
    }
}


@media only screen and (min-width: 960px) {

    #top_nav{
        width: 960px;
    }
    #home_body{
        width: 960px;
    }
    #blog_list,#blog_detail{
        width: 620px;
    }
    .item_li{
        width: 520px;
    }
    #side_list{
        left: 660px;
        width: 300px;
    }
}




@media only screen and (min-width: 1140px) {

    #top_nav{
        width: 1140px;
    }
    #home_body{
        width: 1140px;
    }
    #blog_list,#blog_detail{
        width: 800px;
    }
    .item_li{
        width: 660px;
    }
    #side_list{
        left: 840px;
        width: 300px;
    }
}
